# --extra-index-url https://download.pytorch.org/whl/cpu
beautifulsoup4
Flask
boto3
google-generativeai
langdetect
lxml_html_clean
mistune
mtcnn
numpy
opencv-python-headless
openpyxl
pandas
playwright
presidio-analyzer
presidio-anonymizer
PyMuPDF
PyPDF2
python-docx
python-dotenv
python-pptx
requests
scikit-learn
spacy
stanza
tensorflow-cpu
# torch
trafilatura
validators
waitress