beautifulsoup4 
Flask
google-cloud-storage
google-generativeai
langdetect
lxml[html_clean]
lxml_html_clean
mtcnn
numpy
opencv-python-headless
openpyxl
pandas
playwright
presidio-analyzer
presidio-anonymizer
PyMuPDF 
PyPDF2
python-docx
python-dotenv
python-pptx
requests
scikit-learn
spacy
stanza
tensorflow
torch
trafilatura
validators
waitress
# jsonformatter # If adopting advanced logging