# --extra-index-url https://download.pytorch.org/whl/cpu
beautifulsoup4
filetype
Flask
Flask-Limiter
Flask-SQLAlchemy
Flask-WTF
flask-talisman
alembic
SQLAlchemy
psycopg[binary]
pyjwt[crypto]
workos
pytest
boto3
google-generativeai
lxml_html_clean
mistune
mtcnn
numpy
opencv-python-headless
openpyxl
pandas
playwright
presidio-analyzer
# presidio-anonymizer
PyMuPDF
# PyPDF2
python-docx
python-dotenv
python-pptx
pillow-heif
PyYAML
requests
# scikit-learn
spacy
# stanza
tenacity
tensorflow-cpu
keras>=3.13.2
# torch
trafilatura
validators
waitress